@import 'variables';
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,500,700,900&subset=latin-ext');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background-color: $bg-color;
	color: $second-colors-letters;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.wrapper {
	max-width: 428px;
	width: 100%;
	padding: 113px 50px 0 0;
}

.main-header {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5.4px;
	color: $main-color-letters;
	text-align: center;
	margin-top: 30vh;
}

.first-header{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.second-header{
	color: $second-color;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.7px;
	padding: 50px 0 0 30px;
}

.third-header {
	font-size: 16px;
	font-weight: 500;
	color: $main-color-letters;
	text-align: center;
	letter-spacing: 2.4px;
}

.fourth-header {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.4px;
}

.fiveth-header {
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 1.5px;
}

p {
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	font-weight: 300;
	letter-spacing: 1.8px;
}

.button {
	max-width: 266px;
	height: 49px;
	border-radius: 3px;
	background-color: $second-color;
	color: $main-color-letters;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1.8px;
	margin: 0 auto;
	display: block;
	border: none;
	text-transform: uppercase;
	text-align: center;
	padding: 0 20px 0 20px;
	cursor: pointer;
	&:focus{
		outline: none;
	}
}


//  =============== jumborton =======================
.jumborton {
	position: relative;
	height: 100vh;
	background-image: url('../images/Livello_1.png');
	background-size: cover;
	background-position: bottom;

	nav {
		text-align: center;
		ul {
			margin: 0;
			padding: 0;
			color: white;
			li {
				display: inline-block;
				list-style-type: none;
				margin-top: 30px;
				a {
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 16px;
					font-weight: 700;
					letter-spacing: 2.4px;
					margin-left: 60px;
				}
			}
		}
	}

	.button {
		margin-top: 30px;
	}	
}

.social-media {
	cursor: pointer;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	img {
		padding: 20px;
	}

.fa-bars {
	display: none;
	}
}

// ========= section simple-photo ==============
.simple-photo {
	background-image: url('../images/phone2.png');
	.wrapper {
		max-width: 428px;
		width: 100%;
		padding: 0 50px 20px 0;
	}
	p {
		padding-top: 49px;
		padding-left: 30px;
	}
	button {
		margin: 47px 0 0 30px;
	}
}


// =============== section design =======================
.design {
	background-image: url('../images/phone3.png');
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	.wrapper {
		margin-left: 50vw;
		.second-header {
			padding: 0;
		}
		p {
			padding-top: 49px;
		}
		button {
			margin: 50px 0 0 0;
			}
		.page {
			font-size: 12px;
			font-weight: 700;
		}
		.page-number {
			padding-top: 35px;
		}
		.page-arrow {
			padding-top: 0;
			padding-bottom: 20px;
			cursor: pointer;
		}
	}
}

// =============== section community =======================
.community {
	background-color: $bg-color;
	display: flex;
	.com {
		margin:120px 24px 120px 0;
	}
	.community-img {
		width: 370px;
		height: 244px;
	}
	.community-group {
		display: inline-block;
		width: 370px;
		margin-left: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			width: 59px;
			height: 55px;
			margin-bottom: 20px;
		}
		.fiveth-header {
			margin-top: 20px;
			text-align: center;
			max-width: 140px;
		}
	}
}
// ================= section subscribe ===================

.subscribe {
	background-image: url('../images/subscribe.png');
	background-size: cover;
	height: 790px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.second-header {
		color: $main-color;
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 3.6px;
	}
	input {
		width: 300px;
		height: 60px;
		border-radius: 3px 0 0 3px;
		border: none;
		outline: none;
		font-size: 16px;
		color: #373737;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 2.4px;
		padding: 0 66px 0 10px;
		line-height: 60px;
	}
	button.email {
		width: 63px;
		height: 60px;
		line-height: 60px;
		margin-left: -66px;
		display: inline-block;
	}
}

// =============== section download ======================
.download {
	background-color: $bg-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 55%;
	margin: 0 auto;

	.first-header {
		margin-top: 60px;
	}
	p {
		text-transform: uppercase;
		margin: 20px 0 47px 0;
		font-weight: 600;
		letter-spacing: 1.8px;
		text-align: center;
	}
	.btn-icon {
		width: 56px;
		color: #fff;
		border: none;
		background-color: #16a085;
		display: inline-block;
		border-radius: 0 3px 3px 0;
		line-height: 56px;
		margin-left: -56px;
		cursor: pointer;
		&:focus{
		outline: none;
		}	
	}
	button {
		width: 240px;
		height: 56px;
		line-height: 56px;
		border-radius: 3px 0 0 3px;
		background-color: #1abc9c;
		display: inline-block;
		padding-right: 56px;
		margin: 13px;
		.fab {
			margin-left: 15px;
			font-size: 30px;
			position: relative;
			top: 7px;
		}
	}	
}

// =========== footer ==================

footer {
	position: relative;
	height: 131px;
	background-color: $main-color;
	padding-top: 45px;
	ul {
		margin-left: 126px;
		padding: 0;
		li {
			display: inline-block;
			list-style-type: none;
			border-right: 1.5px solid $second-color;
			padding: 0 5px 0 5px;
			&:last-child {
			border-right: none;
			}
			a {
				text-decoration: none;
				font-size: 14px;
				font-weight: 700;
				letter-spacing: 2.1px;
				text-transform: uppercase;
				color: $second-colors-letters;
			}
		}
	}
	p {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 2.1px;
		margin-left: 126px;
		margin-top: 10px;
	}
	img {
		position: absolute;
		bottom: 30px;
		right: 129px;

	}
}

// ================ media =====================

@media(max-width: 767px) {
	.jumborton {
		nav {
		display: none;
		}	
		.fa-bars {
			display: block;
			color: $main-color;
			font-size: 30px;
			padding: 30px;
			text-align: right;
			cursor: pointer;
		}
		.main-header {
		margin-top: 15vh;
		}
	}
	// simply photo
	.simple-photo {
		background-image: none;
		background-color: $main-color;
		padding-bottom: 20px;
	.wrapper {
		max-width: 400px;
		padding: 0;
		margin: 0 auto;
	}
	.second-header {
		padding-top: 30px;
		text-align: center;
	}
	p {
		text-align: center;
	}
	button {
		margin: 30px auto;
	}
}
	// design
	.design {
		background-image: none;
		background-color: $bg-color;
		padding-bottom: 20px;
		.second-header {
			padding-top: 30px;
			text-align: center;
		}
		.wrapper {
			max-width: 400px;
			padding: 0;
			margin: 0 auto;
			p {
			padding-top: 49px;
			text-align: center;
			}
			button {
				margin: 30px auto;
			}
		.page-number {
			padding-top: 0;
			}
		}
	}

	// community
	.community {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.com {
			margin: 10px 0 10px 0;
		}
		.community-group {
			margin-left: 0;
		}
	}
	// subscribe
	.subscribe {
		height: 400px;
		.second-header {
			padding: 0;
			text-align: center;
		}
	}
	// download
	.download {
		button {
			width: 150px;
		}
		.btn-group {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}
	// footer
	footer {
		ul {
			margin-left: 0;
			text-align: center;
		}
		img {
			display: none;
		}
		p {
			margin: 0;
			text-align: center;
		}
	}		
}

@media(min-width: 768px) and (max-width: 991px){
	.jumborton > nav > ul > li.img-photo {
		display: none;
	}
}



